/* stylelint-disable at-rule-no-unknown */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* stylelint-enable at-rule-no-unknown */

@font-face {
  font-family: 'Neuropol';
  src: url('./assets/Neuropol.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
